* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden !important;
  width: 100vw;
}

[data-aos] {
  transition-property: transform, opacity !important;
  overflow: hidden;
}

footer {
  background-color: $page-bg;
  padding: 40px 0;
  width: 100%;
  max-width: 100%;

  .newsletter-and-logo {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;

    a {
      position: relative;
      text-decoration: none;
      display: inline-block;
      padding-bottom: 5px;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: $color-primary;
        transition: width 0.3s ease-in-out;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  .newsletter-section {
    width: 100%;
    max-width: 450px;
    padding: 20px;
    margin-bottom: 40px;

    label {
      color: $color-primary;
      display: block;
      margin-bottom: 15px;
      font-size: 18px;
      font-weight: 500;
    }

    .email-form {
      display: flex;
      align-items: center;
      border-bottom: $input-border-size solid $color-primary;
      padding-bottom: 5px;

      .email-input {
        @include reset-element;
        flex-grow: 1;
        font-size: 16px;
        padding: 10px 0;
        font-weight: 300;

        &::placeholder {
          color: $color-placeholder;
          font-weight: lighter;
        }
      }

      .submit-button {
        @include reset-element;
        cursor: pointer;
        padding: 10px;
        font-size: 24px;
        line-height: 1;
        transition: opacity 0.3s ease;

        &::after {
          content: $arrow-symbol;
        }

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }

  img {
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.9;
    }
  }

  .footer-links {
    display: flex;
    margin-top: 40px;
    padding: 0 10px;
    justify-content: space-around;

    a {
      color: $color-primary;
      text-decoration: none;
      transition: color 0.3s ease;

      position: relative;
      display: inline-block;
      padding-bottom: 2px;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: $color-primary;
        transition: width 0.3s ease-in-out;
      }

      &:hover::after {
        width: 100%;
      }

      &:hover {
        color: $color-secondary;
      }
    }

    .column {
      display: flex;
      flex-direction: column;
      height: auto;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;

        li {
          margin-bottom: 0;
          font-size: 14px;
        }
      }
    }

    .footer-left {
      display: flex;
      flex-direction: row;
      gap: $gap-between-columns;
      width: auto;
      height: auto;

      a {
        font-weight: 400;
        font-size: 21px;
        line-height: 1.2;
      }
    }

    .footer-right {
      display: flex;
      flex-direction: row;
      gap: $gap-between-columns;
      width: auto;
      height: auto;

      a {
        font-weight: 400;
        font-size: 13.5px;
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      padding: 0 10px;
      gap: 30px;

      .footer-left,
      .footer-right {
        gap: 20px;
        width: 100%;
        max-width: 300px;
        text-align: center;
      }
    }
  }
}
