.hero {
  height: $hero-height;
  background-image: url($hero-bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    margin-top: 648px;
    background: #9eb5b5;
    background: linear-gradient(
      90deg,
      rgba(158, 181, 181, 1) 0%,
      rgba(51, 107, 74, 1) 50%
    );
    border: 2px solid gray;
    padding: 15px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;

    &:hover {
      background-color: $color-primary;
      border-color: $color-primary;
    }

    a {
      text-decoration: none;
      color: $color-primary;
      font-weight: 700;
      transition: color 0.3s ease;

      .hero button:hover & {
        color: $blackfontcolor;
      }
    }
  }
}

@media (max-width: 768px) {
  .hero button {
    margin-top: 400px;
  }
}

@media (max-width: 500px) {
  .hero button {
    margin-top: 250px;
  }
}
