.hero {
  height: $hero-height;
  background-image: url($hero-bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    margin-top: 648px;
    background-color: transparent;
    border: 2px solid $color-primary;
    padding: 15px 30px;
    cursor: pointer;

    a {
      text-decoration: none;
      color: $test-drive-color;
      font-weight: 700;
    }
  }
}

@media (max-width: 768px) {
  .hero button {
    margin-top: 400px;
  }
}

@media (max-width: 500px) {
  .hero button {
    margin-top: 250px;
  }
}
