@import "./variables";

.car-stats {
  height: 525px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $page-bg;

  .stats {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .hp,
  .range,
  .charge,
  .Acceleration {
    height: 178.5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    cursor: default;
    padding-bottom: 5px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: $color-primary;
      transition: width 0.3s ease-in-out;
    }

    &:hover::after {
      width: 100%;
    }

    h5 {
      width: auto;
      height: auto;
      font-weight: 400;
      font-size: 12px;
      color: $color-primary;
    }
    h2 {
      font-weight: 400;
      font-size: 48px;
      text-align: center;
      color: $color-primary;
    }
    p {
      font-weight: 275;
      font-size: 36px;
      text-align: center;
      color: $color-primary;
    }
  }

  .hp {
    width: 171px;
  }
  .range {
    width: 171px;
  }
  .charge {
    width: 171px;
  }
  .Acceleration {
    width: 171px;
  }
}

@media (max-width: 768px) {
  .stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0 20px;
    padding: 10px 0;
    width: 100%;
  }

  .car-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
  }

  .hp,
  .range,
  .charge,
  .Acceleration {
    width: 48%;
    height: 150px;
    margin: 10px 0;
    text-align: center;
    padding-bottom: 5px;
  }

  .hp,
  .charge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hp h2,
  .range h2,
  .charge h2,
  .Acceleration h2 {
    font-size: 36px;
    text-align: center;
    margin: 5px 0;
  }
  .hp p,
  .range p,
  .charge p,
  .Acceleration p {
    font-size: 24px;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .car-stats {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .stats {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
  }

  .hp,
  .range,
  .charge,
  .Acceleration {
    width: 80%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
    padding-top: 5px;
  }

  .Acceleration {
    border-bottom: none;
    padding-bottom: 0;
  }

  .hp h2,
  .range h2,
  .charge h2,
  .Acceleration h2 {
    font-size: 30px;
  }
  .hp p,
  .range p,
  .charge p,
  .Acceleration p {
    font-size: 18px;
  }
}
