.AirX-white {
  height: 899px;
  display: flex;
  flex-direction: column;
  background-color: red;
  .AirX-white-content {
    margin: auto auto 47px 134px;
    position: absolute;

    h2 {
      font-weight: 400;
      font-size: 50px;

      margin-bottom: 4px;
      margin-top: 173px;
    }
    h3 {
      font-weight: 400;
      font-size: 36.32px;
    }
    p {
      font-weight: 400;
      font-size: 16.34px;
    }

    .AirX-white-actions {
      display: none;
    }

    button {
      width: 207px;
      height: 69px;
      background-color: #000000;
      color: #fff;
      font-weight: 400;
      font-size: 21.79px;
      text-align: center;
    }
    a {
      margin-left: 57px;
      font-weight: 400;
      font-size: 21.79px;
      text-align: center;
      color: #000000;
    }
  }
  .AirX-white-img {
    height: 579px;
    background-image: url("../images/AirX-white-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 291px;
  }
}

@media (max-width: 768px) {
  .AirX-white {
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .AirX-white-content {
    width: 90%;
    margin: 0 auto;
    position: static;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .AirX-white-content h2,
  .AirX-white-content p {
    margin: 10px auto;
  }

  .AirX-white-content h2 {
    font-size: 20px;
  }
  .AirX-white-content h3 {
    font-size: 10px;
    line-height: 1.5;
  }
  .AirX-white-content p {
    font-size: 14px;
    line-height: 1.5;
  }
  .AirX-white-button {
    display: flex;
    align-items: center;
  }

  .AirX-white-content button,
  .AirX-white-content a {
    display: inline-block;
    width: auto;
    margin: 15px 10px;
  }

  .AirX-white-content button {
    width: 150px;
  }

  .AirX-white-content a {
    margin-left: 10px;
    margin-top: 10px;
    padding: auto;
  }

  .AirX-white-img {
    width: 100%;
    height: 350px;
    margin: 30px auto 0;
    background-size: contain;
    background-position: center;
  }
}

@media (max-width: 500px) {
  .AirX-white {
    height: auto;
    padding-bottom: 20px;
  }

  .AirX-white-content {
    box-sizing: border-box;
    padding: 0 5%;
    margin: auto;
  }

  .AirX-white-content h2 {
    width: auto;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .AirX-white-content h3 {
    font-size: 18px;
  }

  .AirX-white-content p {
    font-size: 14px;
  }

  .AirX-white-content button,
  .AirX-white-content a {
    height: 50px;
  }
  .AirX-white-content a {
    margin-top: 10px;
  }
  .AirX-white-img {
    background-image: url("../images/AirX-white-bg-responsive.JPG");
    height: 180px;
    margin-top: 15px;
    background-size: contain;
    background-position: center;
  }
}
