$color-primary: #fffffb;
$color-secondary: #aaaaaa;
$header-bg: #1a1a1a;
$page-bg: #101010; 

$font-family: "Poppins", sans-serif;
$header-height: 97.5px;
$container-width: 1230px;
$padding-top-header: 36px; 

$hero-height: 802px;
$hero-bg-image: "../images/mainbg.png"; 
$test-drive-color: #ffffff;

body {
  font-family: $font-family;
  margin: 0;
}
